@import "../../styles/colorStyles.module.scss";
.main {
    display: flex;
    padding: 20px 10px;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
    height: 50vh;
}
.large {
    width: 170px;
    height: 170px;
}
.medium {
    width: 110px;
    height: 60px;
}
.categoryCard {
    border-radius: 10px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    & img {
        height: 100%;
        width: 100%;
    }
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
.categoryName {
    position: absolute;
    text-align: center;
    bottom: 5px;
    font-size: 14px;
    left: 0;
    right: 0;
}
.categoryTxtColor {
    font-size: 10px;
}
.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    // border: 2px solid white;
    outline: 2px solid red;
}