@import '../../styles/colorStyles.module.scss';
.main {
    display: flex;
    margin: 20px;
    padding: 20px;
}
.col1 {
    display: flex;
    width: 70%;
    flex-direction: column;
}
.col2 {
    width: 30%;
}
.upperSection {
    display: flex;
    height: 100%;
}
.lowerSection {
    height: 100px;
    display: flex;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 20px;
}
.item2 {
    display: flex;
    flex: 1;
    height: 100%;
    width: 60%;
}
.item1 {
    width: 30%;
}
.homeBtn {
    margin-top: 20px;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        height: 100%;
        width: 100%;
    }
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 2px solid $primaryColor;
    margin-right: 20px;
}
.homeBtn:active {
    border: 1px solid $selectedBorderColor;
}
@media only screen and (max-width: 1024px) {
    .col1 {
        width: 60%;
    }
    .col2 {
        width: 38%;
    }
    .main {
        margin: 10px;
        padding: 10px;
    }
}